/*------------------------------------------------------------------------------------------------
											ШИРИФТЫ
--------------------------------------------------------------------------------------------------*/
@font-face {
    font-family: 'Museo Cyr';
    src: url('fonts/museosanscyrl-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Cyr';
    src: url('fonts/museosanscyrl-500.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Cyr';
    src: url('fonts/museosanscyrl-700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Cyr';
    src: url('fonts/museosanscyrl-900.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Medium.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
/*------------------------------------------------------------------------------------------------

				/шрифты
				
--------------------------------------------------------------------------------------------------*/




/*------------------------------------------------------------------------------------------------

											ОБЩИЕ НАСТРОЙКИ
											
--------------------------------------------------------------------------------------------------*/
* {
	box-sizing: border-box;
}

/*------------------------ТЕГИ------------------------*/
html {
	overflow-x: hidden;
}
html, body {
	position: relative;
	height:100%;
	padding: 0;
	font-family: "Museo Cyr", Tahoma, sans-serif;
	margin: 0;
}
h1 {
	margin: 0;
}
a {
	text-decoration: none;
}
p {
	font-size: 15px;
	line-height: 24px;
	font-weight: 500;
	color: #7c7c7c; /*СЕРЫЙ ТЕКСТ*/
}
p.larger-p {
	line-height: 28px;
	font-size: 20px;
	color: #3E3E3E;
	font-weight: 300;
}

a.green-link {
	text-decoration: underline;
	color: #29ad00; /* ЗЁЛЁНЫЙ */
}
a.green-link:hover {
	color: #484848;
}

ul.green-ul {
	list-style: outside url('../img/ul-mrkr-green.png');
}
ul.green-ul .heading-font {
	color: #3E3E3E;
	font-size: 22px;
}
/*-------теги-----------------------------------------*/

.green-color {
	color: #29ad00; /* ЗЁЛЁНЫЙ */
	border-color: #29ad00; /* ЗЁЛЁНЫЙ */
}
.top-bott-bordered {
	border-top: 1px dotted gray;
	border-bottom: 1px dotted gray;
}

/*-------------------ЗАГОЛОВКИ------------------------*/
.heavy-heading {
	font-size: 80px;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 80px;
}
.medium-heavy-heading {
	font-size: 62px;
	line-height: 62px;
	font-weight: 900;
	text-transform: uppercase;
}
.normal-heavy-heading {
	font-size: 70px;
	line-height: 70px;
	font-weight: 900;
	text-transform: uppercase;
}
.medium-thin-heading {
	font-size: 62px;
	line-height: 62px;
	font-weight: 300;
	text-transform: uppercase;
}
.medium-heading {
	font-size: 30px;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 40px;
}
.medium-heading strong {
	font-weight: 900;
}
.normal-bold-heading {
	font-size: 28px;
	font-weight: 500;
}
.normal-heading {
	font-size: 28px;
}
.small-heading {
	font-size: 24px;
	font-weight: 500;
}
/*------/заголовки-------------------------------------*/
.replace-rub-sym {
	font-family: Roboto, Arial, sans-serif;
}

/*----------------КЛАССЫ Transition--------------------*/
.transition-05-ease-out {
	-webkit-transition: all 0.5s ease-out 0s;
	-moz-transition: all 0.5s ease-out 0s;
	-o-transition: all 0.5s ease-out 0s;
	transition: all 0.5s ease-out 0s;
}
.transition-03-ease-out {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
/*------/классы Transition------------------------------*/


/*----------------ВИДЖЕТ С ФОРМОЙ-----------------------*/
#widgt_link {
	position: fixed;
	right: -100px;
	bottom: 100px;
	display: block;
	/* opacity: 0; */
	z-index: 15;
}
#widgt_link.widget-link-shown {
	/* opacity: 0.8; */
	right: 100px;
}
#widgt_link:hover {
	opacity: 0.8;
}
#widgt_link_img_box {
	display: block;
	width: 90px;
	height: 90px;
	border-radius: 45px;
	background: #00aff2;
}
#widgt_link_img_box img {
	position: absolute;
	width:0;
	left:50px;
	height: 90px;
	opacity: 0;
}
#widgt_link_img_box img.widg-link-active-img {
	width: 90px;
	left:0;
	opacity: 1;
}

#widget_overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 100;
	left: 0; 
}
#widget_overlay_shadow {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	z-index: 1;
}
#widget_form_box {
	position: absolute;
	width: 800px;
	height: 370px;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
	border-radius: 40px;
	top: 50%;
	left: 50%;
	margin-left: -350px;
	margin-top: -200px;
	background: white;
	padding: 40px 50px;
	z-index: 3;
}
#widget_form_logo {
	display: block;
	float: left;
	height: 12px;
	width: auto;
}
#close_widg_form {
	display: block;
	color: gray;
	font-size: 14px;
	float: right;
}
#close_widg_form:hover {
	color: black;
}

#widget_phrase {
	height: 100px;
	position: absolute;
	top: 110px;
	width: 700px;
	left: 50px;
	font-size: 25px;
	font-weight: 300;
}
.box-with-heading #widget_phrase {
	top: 100px;
}
#widgt_phrase_heading {
	font-weight: 500;
	display: block;
	margin-bottom: 15px;
}
/* --- Форма и кнопка --- */
#form_container {
	width: 700px;
	position: absolute;
	top: 235px;
}
.box-with-heading #form_container {
	top: 255px;
}
#ajax_replacement {
	width: 300px;
	margin-left: 40px;
}
#form_container.widg-wh #ajax_replacement {
	margin-left: 20px;
}
#webform-prosto-fast-lead .form-actions,
#webform-prosto-fast-lead .webform-component-uokrug {
	display: none;
}
#webform-prosto-fast-lead .form-actions {
	position: absolute;
	right: 100px;
	top: 0;	
}


#wdg_sbmt1 {
	margin-right: 60px;
	float: right;
}
#form_container.widg-wh #wdg_sbmt1 {
	margin-right: 20px;
}
#edit-submit--prosto-fast-lead:disabled,
#wdg_sbmt1:disabled {
	opacity: 0.9;
	cursor: default;
}
#edit-submit--prosto-fast-lead:disabled:hover,
#wdg_sbmt1:disabled:hover {
	background-color: white;
	border-color: #29AD00; /*зелёный*/
	color: #29AD00; /*зелёный*/
}
.gray-border-field {
	width: 295px;
	height: 50px;
}
.gray-border-field select,
.gray-border-field input{
	width: 100%;
	height: 100%;
	border: 1px solid #E8E8E8;
	padding: 0px 20px;
	font-size: 15px;
	line-height: 48px;
	font-weight: 500;
	color: #5C5959;
}
.gray-border-field select {
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
	background: white url('../img/select-ar.png') no-repeat 92% center;	
}

#widget_phone_hint {
	position: absolute;
	bottom: -30px;
	left: 64px;
	color: gray;
	font-weight: 300;
	display: none;
	opacity: 0.7;
}
#widget_phone_hint:hover {
	opacity: 1;
}
#widget_phone_hint_a {
	border-bottom: 1px dotted;
	font-size: 12px;
	font-weight: 500;
}
#widget_phone_hint_a:hover{
	color: black;
	border-color: black;
}

#widg_loader {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -27px 0 0 -27px;
	display: none;
}

#widget_autor_box {
	position: absolute;
	font-size: 12px;
	color: rgb(170,170,170);
	bottom: 20px;
	right: 40px;
}
#widget_autor_link {
	color: rgb(110,110,110);
}
#widget_autor_link:hover {
	color: rgb(80,80,80);
	text-decoration: underline;
}


/*-------/виджет с формой--------------------------------*/

/*блоки с тремя колонками контента*/
.columns-3-block {
	width: 30%;
	display:inline-block;
	vertical-align: top;
}
.columns-3-block:first-child {
	margin-right: 5%;
}
.columns-3-block:last-child {
	margin-right: 0%;
	float: right;
}
/*блоки с пятью колонками контента*/
.columns-5-block {
	width: 18%;
	display:inline-block;
	vertical-align: top;
	margin-right: 2%;
}
.columns-5-block:first-child {
}
.columns-5-block:last-child {
	margin-right: 0%;
	float: right;
}

/*------------------------------------------------------------------------------------------------

				/общие настройки
				
--------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------

											КОНТЕЙНЕР ШИРИНЫ
											
--------------------------------------------------------------------------------------------------*/
.width-control {
	width: 960px;
	margin: 0 auto;
}
.width-control-outer {
	width: 1040px;
	padding: 0 40px;
}
.full-width {
	position: absolute;
	left: 0;
	width: 100%;
}
/*------------------------------------------------------------------------------------------------

				/Контейнер ширины
				
--------------------------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------------------------

											КРУГЛЫЕ КНОПКИ
											
--------------------------------------------------------------------------------------------------*/
.round-border {
	border: 1px solid gray;
	border-radius: 19px;
	text-decoration: none;
	background: none;
	display: inline-block;
	height: 38px;
	line-height: 37px;
	font-size: 15px;
	padding: 0 22px;
	color: black;
	text-align: center;
	cursor: pointer;
}
.round-border:hover {
	background-color: #29ad00; /* ЗЁЛЁНЫЙ */
	color: white;
	border-color: #29ad00; /* ЗЁЛЁНЫЙ */
}
.round-border-big {
	height: 60px;
	line-height: 46px;
	border: 6px solid;
	border-radius: 30px;
	font-size: 24px;
	font-weight: 900; 
	padding: 0 40px;
}
.round-border-medium {
	height: 50px;
	line-height: 34px;
	border: 3px solid;
	border-radius: 25px;
	font-size: 22px;
	font-weight: 500;
	padding: 0px 30px;
}
.round-border-green {
	color: #29ad00; /* ЗЁЛЁНЫЙ */
	border-color: #29ad00; /* ЗЁЛЁНЫЙ */
}
/*------------------------------------------------------------------------------------------------

				/круглые кнопки
				
--------------------------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------------------------

											ШАПКА
											
--------------------------------------------------------------------------------------------------*/
#header_top {
	height: 85px;
	padding-top: 24px;
	position: relative;
}
#header_top > * {
	display: inline-block;
}
#head_logo {
	margin-right: 30px;
	height: 38px;
	padding-top: 7px;
}
#head_lead, #head_callback {
	float: right;
	width: 227px;
}

#head_lead {
	margin-right: 30px;
}
#head_phone {
	position: absolute;
	right: 0;
	font-size: 29px;
	font-weight: 300;
}
#head_phone strong{
	font-size: 30px;
	font-weight: 900;
}

/*-------------------ГЛАВНОЕ МЕНЮ------------------------*/
#header_menu_box {
	height: 55px;
}
#header_menu_box > .full-width {
	background: #ededed; /* СВЕТЛО СЕРЫЙ ФОН МЕНЮ */
	height: 55px;
}
#header_menu_box #main_menu {
	list-style: none;
	padding-left: 0;
	height: 55px;
}
#header_menu_box #main_menu li {
	display: inline-block;
	height: 100%;
	padding-top: 12.5px;
}
#header_menu_box #main_menu li:hover {
	/*background: #29ad00; /* ЗЁЛЁНЫЙ */
}
#header_menu_box #main_menu li a {
	display: inline-block;
	height: 30px;
	border-right: 1px dotted gray;
	line-height: 28px;
	color: black;
	padding: 0 25px;
	text-align: center;
}
#header_menu_box #main_menu li a:hover {
	color: #29ad00; /* ЗЁЛЁНЫЙ */
}
#header_menu_box #main_menu li:first-child a {
	padding-left: 0;
}
#header_menu_box #main_menu li:last-child a {
	padding-right: 0;
	border-right: 0;
}
/*------главное меню-------------------------------------*/


/*------------------------------------------------------------------------------------------------

					/Шапка
					
--------------------------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------------------------

													КОНТЕНТ
													
--------------------------------------------------------------------------------------------------*/


/*-------------------КНОПКА КАЛЬКУЛЯТОРА------------------------*/
#calc_icon_link:hover {
	opacity: 0.8;
}
#calc_icon_link {
	position: fixed;
	right: 100px;
	bottom: 210px;
	display: block;
	/* opacity: 0.8; */
	z-index: 15;
}
/*-------------------/кнопка калькулятора-----------------------*/

/*----------------------СТРЕЛКА ВВЕРХ---------------------------*/
#div-vverh {
    position: fixed;
    left: 30px;
    bottom: 70px;
    opacity: 0.3;
    display: none;
	z-index: 5;
}
#div-vverh:hover {
    opacity: 1;
}
#div-vverh a {
    display: inline-block;
    padding: 20px;
}
/*----------------------/стрелка вверх--------------------------*/



/*-------------------------------------------------------------------------
						-------------ГЛАВНАЯ--------------
--------------------------------------------------------------------------*/
.background-abs-img {
	position: absolute;
	z-index: -1;
	top: 0;
}
.landing-block {
	position: relative;
}
/*-----------------------------ГЛАВНЫЙ СЛАЙД-----------------------------*/
#main_banner {
	padding-top: 75px;
	height: 600px;
	overflow: visible;
	position: relative;
}
#main_banner > .background-abs-img {
	left: 20px;
}
#main_banner > h1 {
	/* font-size: 70px;
	line-height: 70px; */
}
#sub_h1 {
	margin: 15px 0 35px;
	color: black;
	opacity: 0;
	margin-top: 20px;
}
/*-------главный слайд---------------------------------------------------*/

/*-----------------------------SWIPER СЛАЙДЫ-----------------------------*/
.index-banner-slide-img {
	position: absolute;
	left: -270px;
	top: -30px;
	z-index: -1;
}
.index-banner-slide {
	position: absolute;
	opacity: 0;
	z-index: -1;
	height: 100%
}
.index-banner-slide.slide-active {
	opacity: 1;
	z-index: 0;
}
.swiper-index-ban-pag {
	bottom: 40px;
	z-index: 5;
	position: absolute;
}
.pager-bullet {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	border-radius: 5px;
	background: gray;
	cursor: pointer;
}
.pager-bullet.cur-bullet {
	background: #29ad00;/*ЗеЛЁный*/
}
.index-banner-button {
	position: absolute;
	bottom: 175px;
}
/*-------/swiper слайды---------------------------------------------------*/





/*-----------------------------ГЛАВНЫЙ ТЕКСТ-----------------------------*/
#after_main_text {
	text-align: center;
	padding: 20px 0 40px;
}
#after_main_text .normal-bold-heading {
	margin-bottom: 35px;
}
/*-------главный текст---------------------------------------------------*/


/*------------------БЛОК С ЧЕКАМИ И СЛАЙДАМИ-----------------------------*/
#bills_block {
	height: 1280px;
	border-top: 0;
}
#bills_block > h2{
	margin: 60px auto 0;
	text-align: center;
}

#bills_box * {
	-webkit-transition: all 1.5s ease 0s;
	-moz-transition: all 1.5s ease 0s;
	-o-transition: all 1.5s ease 0s;
	transition: all 1.5s ease 0s;
}
#bills_box {
	padding-top: 20px;
}
.bill-container {
	display: inline-block;
	width: 400px;
	height: 730px;
	vertical-align: top;
}
.bill-container .normal-bold-heading {
	text-align: center;
	margin-bottom: 40px;
}
#bill_logo {
	display: inline-block;
	margin: 10px 0 -10px;
}
#other_bill_container {
	float: right;
	margin-right: 10px;
}
#prosto_bill_container {
	margin-left: 10px;
}

.bill-box{}
.bill-hole {
	display: inline-block;
	margin-bottom: -43px;
}
.bill-lights-hover {
	position: absolute;
	z-index: 2;
}
.bill-paper-clip-hover {
	width: 341px;
	height: 560px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.bill-top-shadow {
	position: absolute;
	z-index: 2;
}
.bill-paper-clip {
	width: 341px;
	position: absolute;
	background: #f1f0eb; /* ФОН БУМАГИ ЧЕКА */
}
.bill-paper {
	padding: 42px 38px 40px 42px;
	position: relative;
	z-index: 3;

}
.bill-tear {
	position: absolute;
	z-index: 1;
	bottom: -10px;
}

.bill-paper table {
	font-size: 15px;
	color: #5c5959; /* ТЁМНО СЕРЫЙ для чеков*/
	width: 100%;
}
.bill-paper table tr {
	height: 50px;
	vertical-align: top;
}
.bill-paper table tr td:first-child {
	width: 180px;
}
.bill-paper table tr td:last-child {
	text-align: right;
}

.bill-price-box {
	border-top: 1px dotted gray;
	font-size: 25px;
	color: #5c5959; /* ТЁМНО СЕРЫЙ для чеков*/
	padding-top: 15px;
}

.bill-price-summ {
	font-weight: 700;
	font-size: 36px;
}
.bill-price-box .replace-rub-sym {
	font-size: 36px;
}

.bill-sub-price-box {
	margin-top: 10px;
}
#calc_bill_sub_price {
	-webkit-transition: all 0.8s ease 0s;
	-moz-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
}
.bill-sub-price-summ {
	font-size: 15px;
}


/*------------------СЛАЙДЫ--------------------*/
#bills_arrow_box {
	overflow:hidden;
	position: absolute;
	z-index:2;
	top: 620px;
	left: 125px;
	-webkit-transition: all 0.8s ease 0s;
	-moz-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
}

#econom_slides_container {
	position: relative;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
#econom_summ,
#econom_next {
	position: absolute;
	z-index: 1;
}
#econom_summ {
	right: 20px;
	top: 62px;
	color: black;
}
#econom_next {
	top: 317px;
	right: 220px;
	height: 55px;
	border-bottom: 1px dotted gray;
	cursor: pointer;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
#econom_next.next-hovered,
#econom_next:hover {
	border-color: #29ad00; /* ЗЁЛЁНЫЙ */
	right: 210px;
}
#econom_next span {
	font-size: 24px;
	line-height: 36px;
	height: 36px;
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}
.econom-slide {
	position: absolute;
	width: 100%;
	opacity: 0;
	z-index: -1;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.econom-slide.slide-active {
	opacity: 1;
	z-index: 0;
}
.econom-slide .econom-slide-text {
	width: 400px;
	position: absolute;
	right: -100px;
	top: 150px;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.econom-slide.slide-active .econom-slide-text {
	right: 5px;
}
.econom-slide .econom-slide-img {
	position: absolute;
	left: -100px;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}


#econom_slide_tufli.slide-active .econom-slide-img {
	left: -65px;
}
#econom_slide_tufli .econom-slide-img {
	top: 22px;
}

#econom_slide_more.slide-active .econom-slide-img {
	left: -30px;
}
#econom_slide_more.econom-slide-img {
	top: -10px;
}

#econom_slide_tel.slide-active .econom-slide-img {
	left: -20px;
}
#econom_slide_tel .econom-slide-img {
	top: 5px;
}

#econom_slide_note.slide-active .econom-slide-img {
	left: -73px;
}
#econom_slide_note .econom-slide-img {
	top: 43px;
}
/*-------/слайды-------------------------------*/
/*-------/блок с чеками и слайдами------------------------------------------*/



/*------------------------------------БЛОК С КАРТОЙ-------------------------*/
#map_block {
	padding-top: 45px;
	height: 720px;
	border-bottom: 0;
}
#map_block .normal-bold-heading + p {
	margin-top: 35px;
	width: 480px;
}

#bolee_text,
#managers_map,
#manager_arrow,
#one_hour_text {
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}

#bolee_text {
	margin: 40px 0 0;
	color: black;
}

#one_hour_text {
	margin-top: 10px;
	width: 310px;
	color: black;
}
#managers_map {
	position: absolute;
	z-index: -1;
	right: -350px;
	bottom: 0;
}
#manager_arrow {
	overflow: hidden;
	position:absolute;
	top: 302px;
	left: 390px;
}
/*--------------/блок с картой----------------------------------------------*/


/*-----------------------------------БЛОК С ЭТАПАМИ-------------------------*/
#order_steps {
	margin-top: 10px;
	height: 930px;
	padding-top: 20px;
}
#order_steps .normal-bold-heading{
	text-align: center;
	margin-bottom: 55px;
}
.order-step {
	display: inline-block;
	vertical-align: top;
	width: 19.5%;
	text-align: center;
	position: relative;
}
.order-step-arrow {
	position: absolute;
	top: 60px;
	right: -25px;
	z-index: 1;
}
.order-step-num {
	width: 34px;
	height: 34px;
	border: 1px solid;
	border-radius: 17px;
	line-height: 34px;
	text-align: center;
	margin: 0 auto;
}
.order-step > p {
	width: 90%;
	margin: 15px auto;
}
#down_summ {
	overflow: hidden;
	margin-top: 15px;
}
.order-step,
#down_summ,
#garant_text,
#garant_sub_text,
#garant_img {
	-webkit-transition: all 0.7s ease 0s;
	-moz-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
}
#down_summ img{
	display: inline-block;
	width: 100%;
	height: auto;
}
#garant_text {
	margin: 60px 0 0;
	width: 630px;
}
#garant_sub_text {
	width: 620px;
	margin-top: 15px;
	color: black;
}
#garant_container {
	position: relative;
}
#garant_img {
	position: absolute;
	z-index: -1;
	right: 0;
	top: -20px;
}
/*-----/блок с этапами-----------------------------------------------*/

/*-----------------------------БЛОК С ЦЕНАМИ-----------------------*/
#price_block {
	height: 670px;
	padding: 45px 0 75px;
}
#price_block > .normal-bold-heading {
	text-align: center;
	margin-bottom: 30px;
}
.win-box {
	position: relative;
	display: inline-block;
	vertical-align: top;
	height: 480px;
}
#win_1 {
	width: 30%;
}
#win_2 {
	width: 32%;/*не сильно важно - справа float*/
}
#win_bal {
	float: right;
	padding-left: 15px;
}
.win-mes,
.win-heading {
	text-align: center;
}
.win-mes {
	margin: 0 auto 25px;
	text-align: center;
}
#win_1 .win-heading-box {display: inline-block; margin-left: 10px;}
#win_2 .win-heading-box {display: inline-block; margin-left: 50px;}
.win-heading {
	color: black;
	font-weight: 700;
	margin: 0 auto 2px;
}

/*---------ОКНА PRLX--------*/

.win-prlx-bg-clip {
	position: absolute;
	z-index: -1;
	overflow: hidden;
	height: 205px;
	margin-left: 5px;
}

.win-prlx-2-box .win-prlx-bg-clip {
	width: 170px;
}
.win-prlx-3-box .win-prlx-bg-clip {
	width: 260px;
}
.win-prlx-bal-box .win-prlx-bg-clip {
	width: 280px;
}

.win-prlx-bg {
	position: absolute;
	max-height: 250px;
	width: auto;
}

/*-----/окна prlx-----*/





.price-box {
	position: absolute;
}
.price-box p {
	text-align: center;
}
.common-price-box {
	bottom: 95px;
}
#win_1 .common-price-box {left: 25px; width: 140px}
#win_2 .common-price-box {left: 60px; width: 145px}
#win_bal .common-price-box {left: 35px; width: 145px}

.comm-price-words {
	margin: 0 0 5px;
}
.comm-price {
	margin: 0;
}
.cross-out-clip {
	display: inline-block;
	width: 100%;
	position:absolute;
	z-index: -1;
	left: -5px;
	overflow: hidden;
}
.common-price-box,
.cross-out-clip,
.prosto-price-box,
#win_container {
	-webkit-transition: all 0.5s linear 0s;
	-moz-transition: all 0.5s linear 0s;
	-o-transition: all 0.5s linear 0s;
	transition: all 0.5s linear 0s;
}

.prosto-price-box {
	bottom: 10px;
}
#win_1 .prosto-price-box {left: 15px;}
#win_2 .prosto-price-box {left: 58px;}
#win_bal .prosto-price-box {left: 25px;}
.prosto-price-box p {
	margin: 0;
}
.prosto-price-box .prosto-price-words {
	color: black;
	margin-bottom: 10px;
}
.prosto-price {
	font-size: 38px;
	font-weight: 500;
}
/*----------/блок с ценами----------------------------------*/

/*--------------------------БЛОК УСПЕЕМ ЗА НЕДЕЛЮ-------------------------*/
#dostav_block {
	height: 470px;
	border-top:  1px dotted gray;
}
#dostav_block > * {
	position: absolute;
	-webkit-transition: all 0.6s ease-out 0s;
	-moz-transition: all 0.6s ease-out 0s;
	-o-transition: all 0.6s ease-out 0s;
	transition: all 0.6s ease-out 0s;
}
#dost_img {
	left: -90px;
	top: 50px;
	width: auto;
}
#dost_sub_text {
	right: -10px;
	width: 485px;
}
#dost_sub_text {
	top: 270px;
}
#dost_text {
	right: -110px;
	width: 590px;
}
/*----------/блок успеем за неделю---------------*/
/*-------------------------------------------------------------------------
		/////////главная//////////
--------------------------------------------------------------------------*/







/*-------------------------------------------------------------------------
						------------ЦЕНЫ-----------
--------------------------------------------------------------------------*/
.price-example-block {
	position: relative;
	height: 700px;
	padding: 55px 0;
	/* -webkit-transition: all 0.5s ease-out 0s;
	-moz-transition: all 0.5s ease-out 0s;
	-o-transition: all 0.5s ease-out 0s;
	transition: all 0.5s ease-out 0s; */
}
.price-example-block .normal-bold-heading {
	margin-top: 0px;
}
.price-example-win-box {
	position: relative;
	height: 380px;
	width: 620px;
}
.price-example-block>h2 {
	font-size: 26px;
}
/*.price-example-block>h2.heading-font strong,*/
.price-example-block>h2.heading-font .heading-price {
	font-size: 32px;
	font-weight: 900;
}
.price-example-block>h2.heading-font .price-key {
	font-weight: 500;
}
.price-example-block .win-bg-prof-box {
	position: absolute;
}
.price-example-block .win-bg-prof-box.win-lighting .win-prlx-bg-clip{
	box-shadow: -40px -20px 40px rgba(255,255,255,1);
}
.price-example-win-caption {
	position: absolute;
	min-width: 170px;
	font-size: 15px;
	z-index: 3;
}
.price-example-win-caption .win-capt-dimens {
	font: 300 13px Roboto, Arial, sans-serif;
	color: gray;
}
.price-example-win-caption .green-color {
	font-size: 18px;
}
.price-example-summ-box {
	position: absolute;
	width: 335px;
	right: 0;
	top:145px;
	padding-left: 85px;
	height: 510px;
}
.price-example-summ-img {
	position: absolute;
	left:0;
	top:-15px;
}
.price-example-summ-box .comm-price {
	position: absolute;
	top: 0;
	left: 85px;
	font-weight: 300;
	line-height: 30px;
	width: 220px;
	height: 65px;
}
.price-example-summ-box .comm-price-text {
	font-size: 18px;
	line-height: 22px;
	display: inline-block;
	margin-bottom: 5px;
	position:absolute;
	top: 0;
	left: 0;
}
.price-example-summ-box .cross-out-clip,
.price-example-summ-box .comm-price-summ {
	position:absolute;
	top: 27px;
	left: 0;
}
.price-example-summ-box .cross-out-clip {
	left: -5px;
}
.price-example-summ-box .comm-price .cross-out-clip img{
	width: 126px;
	height: 10px;
	margin-bottom: 5px;
}
.price-example-summ-box .prosto-price {
	line-height: 30px;
	position: absolute;
	top: 65px;
	left: 85px;
	margin:0;
	width: 230px;
	height: 75px;
}
.price-example-summ-box .prosto-price-text {
	font-size: 22px;
	text-transform: none;
	color: black;
	line-height: 34px;
	position:absolute;
	top: 0;
	left: 0;
}
.price-example-summ-box .prosto-price-summ {
	position:absolute;
	top: 35px;
	left: 0;
}
.price-example-economy-words {
	/* font-weight: 700; */
	position: absolute;
	top: 150px;
	left: 85px;
	font-size: 16px;
	width: 350px;
}

.price-example-economy-slides-box {
	position: absolute;
	top: 195px;
	left: 85px;
}
.price-example-economy-slide {
	position: absolute;
	width: 280px;
	left: 20px;
	z-index: -1;
	opacity: 0;
	-webkit-transition: all 0.5s ease-out 0s;
	-moz-transition: all 0.5s ease-out 0s;
	-o-transition: all 0.5s ease-out 0s;
	transition: all 0.5s ease-out 0s;
}
.price-example-economy-slide.slide-active {
	opacity: 1;
	z-index: 1;
	left: 0;
}
.price-example-economy-slide-title {
	margin-top: 5px;
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
}
.price-example-economy-slide-img {
	position: absolute;
	z-index: -1;
	top: 50px;
	left: -15px;
}
.price-example-summ-box .round-border {
	position: absolute;
	bottom: 10px;
	font-weight: 500;
	padding: 0px 20px;
	width: 260px;
	font-size: 22px;
}
.price-example-summ-arrow {
	opacity: 0;
	position: absolute;
	left: -80px;
	bottom: -20px;
	transform: rotate(7deg);
	-webkit-transform: rotate(7deg);
	-o-transform: rotate(7deg);
	-moz-transform: rotate(7deg);
}
.price-example-summ-box .round-border:hover + .price-example-summ-arrow {
	opacity: 1;
	left: -60px;
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
}

/*АНИМАЦИЯ*/
/*быстрая*/
.price-example-summ-arrow{
	-webkit-transition: all 0.5s ease-out 0s;
	-moz-transition: all 0.5s ease-out 0s;
	-o-transition: all 0.5s ease-out 0s;
	transition: all 0.5s ease-out 0s;
}
/*медленная*/
.price-example-block .win-bg-prof-box,
.price-example-win-caption {
	-webkit-transition: all 1s ease-out 0s;
	-moz-transition: all 1s ease-out 0s;
	-o-transition: all 1s ease-out 0s;
	transition: all 1s ease-out 0s;
}
/*//анимация*/

/*--------------1k КВАРТИРА------------*/
#price_example_1k .win-prlx-bal-box{
	top: 35px;
	left: 0;
}
#price_example_1k .price-example-win-box:hover .win-prlx-bal-box{
	top: 25px;
	left: 10px;
}
#price_example_1k .win-prlx-3-box,
#price_example_1k .win-prlx-2-box{
	top: 170px;
	left: 177px;
	z-index: 1;
}
#price_example_1k .price-example-win-box:hover .win-prlx-3-box, 
#price_example_1k .price-example-win-box:hover .win-prlx-2-box{ 
	top: 178px;
	left: 190px;
}
/* 1К ПРИ БАЛКОНЕ И 2-ХСТВОРЧАТОМ ОКНЕ */
/* #win_capt_bal_1k { 
	top:135px; 
	left: 413px;
}
#price_example_1k .price-example-win-box:hover #win_capt_bal_1k {
	top:125px; 
	left: 420px;
}
#win_capt_2_1k {	
	top:215px; 
	left: 413px; 
}
#price_example_1k .price-example-win-box:hover #win_capt_2_1k {
	top:222px; 
	left: 420px;
} */
/* /1к при балконе и 2-хстворчатом окне */
/* 1К ПРИ БАЛКОНЕ И 3-ХСТВОРЧАТОМ ОКНЕ */
#win_capt_bal_1k { 
	top: 40px; 
	left: 330px;
}
#price_example_1k .price-example-win-box:hover #win_capt_bal_1k {
	top:30px; 
	left: 340px;
}
#win_capt_2_1k {	
	top: 115px;
    left: 330px;
}
#price_example_1k .price-example-win-box:hover #win_capt_2_1k {
	top: 125px; 
	left: 340px;
}
/* /1к при балконе и 3-хстворчатом окне */
.animate-bottom-arrow {
	display:block;
	position: absolute;
	left: 50%;
	margin-left: -18px;
	z-index: 2;
	cursor: pointer;
}
#price_example_1k .animate-bottom-arrow {
	bottom: 0;
	display: none;
}
#price_example_1k .animate-bottom-arrow.animate-bottom-arrow-lower {
	bottom: -10px;
}



/*-------------/1k квартира--------------*/

/*----2к КВАРТИРА-----*/
#price_example_2k .win-prlx-bal-box{
	top: 65px;
	left: 0;
}
#price_example_2k .price-example-win-box:hover .win-prlx-bal-box{
	top: 55px;
	left: 10px;
}
#price_example_2k .win-prlx-3-box{
	top: 110px;
	left: 167px;
	z-index: 1;
}
#price_example_2k .price-example-win-box:hover .win-prlx-3-box{
	top: 122px;
	left: 160px;
}
/*трёхстворчатое окно вместо 2-х (третье слева)*/
#price_ex_win_2_2k.win-prlx-3-box {
	top: 160px;
	left: 337px;
	z-index: 1;
}
#price_example_2k .price-example-win-box:hover #price_ex_win_2_2k.win-prlx-3-box {
	top: 168px;
	left: 347px;
}
/*трёхстворчатое окно вместо 2-х (третье слева)*/

#price_example_2k .win-prlx-2-box{
	top: 160px;
	left: 367px;
	z-index: 1;
}
#price_example_2k .price-example-win-box:hover .win-prlx-2-box{
	top: 168px;
	left: 380px;
}
#win_capt_bal_2k {
	top:30px; 
	left: 0;
}
#price_example_2k .price-example-win-box:hover #win_capt_bal_2k {
	top:22px;
	left: 10px;
}
#win_capt_3_2k {	
	top: 55px;
	left: 323px;
}
#price_example_2k .price-example-win-box:hover #win_capt_3_2k {
	top: 67px;
	left: 335px;
}
#win_capt_2_2k {	
	top: 110px;
	left: 460px;
}
#price_example_2k .price-example-win-box:hover #win_capt_2_2k {
	top: 118px;
}
/*----/2k квартира-----*/

/*----3к КВАРТИРА-----*/
#price_example_3k {
	border-top: 0;
}
#price_example_3k .win-prlx-bal-box{
	top: 65px;
	left: 0;
}
#price_example_3k .price-example-win-box:hover .win-prlx-bal-box {
	top: 35px;
	left: -50px;
}
#price_example_3k .win-prlx-3-box {
	top: 110px;
	left: 167px;
	z-index: 1;
}
#price_example_3k .price-example-win-box:hover .win-prlx-3-box{
	top: 122px;
	left: 160px;
}
#pr_exmp_3k_3_1 {
	opacity: 0;
}
#price_example_3k .price-example-win-box:hover #pr_exmp_3k_3_1{
	opacity: 1;
	top: 80px;
	left: 120px;
}
#price_example_3k .price-example-win-box:hover #pr_exmp_3k_3_2{
	top: 135px;
	left: 170px;
}

#price_example_3k .win-prlx-2-box {
	top: 160px;
	left: 367px;
	z-index: 1;
}
#price_example_3k .price-example-win-box:hover .win-prlx-2-box {
	top: 190px;
	left: 400px;
}


#win_capt_bal_3k {
	top:30px; 
	left: 0;
}
#price_example_3k .price-example-win-box:hover #win_capt_bal_3k{
	top:2px;
	left: -50px;
}
#win_capt_3_3k {	
	top: 55px;
	left: 323px;
}
#win_capt_2_3k {	
	top: 110px;
	left: 460px;
}
#price_example_3k .price-example-win-box:hover #win_capt_3_3k {
	top: 30px;
	left: 275px;
}
#price_example_3k .price-example-win-box:hover #win_capt_2_3k {
	top: 138px;
	left: 462px;
}
/*----/3k квартира-----*/

/*-- таблица --*/
#price_page_block {
	margin: 55px 0 85px;
}
#price_page_block .win-box {
	height: 565px;
}
#price_page_block .win-heading-box {
	margin-left: 0;
}
.win-heading-normal {
	font-weight: 500;
	text-align: left;
	line-height: 32px;
}
#price_page_block .win-mes {
	text-align: left;
	font-size: 14px;
	margin: 10px 0 15px;
}
#price_page_block .win-box .common-price-box {
	bottom: 130px;
	left:0;
}
#price_page_block .win-box .common-price-box p {
	text-align: left;
}
#price_page_block .win-box .common-price-box .cross-out-clip img {
	height: 10px;
	width: 130px;
	margin-bottom: 5px;
}
#price_page_block #win_bal {
	width: 32%;
}
#price_page_block .win-box .prosto-price-box{
	left: 0;
	bottom: 90px;
}
#price_page_block #win_bal.win-box .common-price-box,
#price_page_block #win_bal.win-box .prosto-price-box{
	left: 15px;
}

#price_page_block .win-price-order-btn,
#price_page_block .win-price-block-economy {
	position: absolute;
}
#price_page_block .win-price-order-btn {
	bottom:0;
	border-width: 3px;
	line-height: 33px;
}
#price_page_block .win-price-block-economy {
	color: black;
	bottom:40px;
}

/*-------------------------------------------------------------------------
		/////////цены//////////
--------------------------------------------------------------------------*/



/*-------------------------------------------------------------------------
						---------ЗАКАЗ---------
--------------------------------------------------------------------------*/

/*------БАННЕР С ВЫГОДОЙ-----*/
.zakaz-banner-block {
	position: relative;
	height: 525px;
	margin: 50px 0;
}
.zakaz-text-block {
	position: relative;
	margin: 50px 0;
}
.zakaz-banner-text {
	color: black;
	width: 405px;
	position: absolute;
	right: 0px;
	z-index: 3;
	line-height: 30px;
	top: 25px;
}
.zakaz-banner-slides-box {
	position: relative;
}
.zakaz-banner-slide-words {
	color: black;
	width: 405px;
	position: absolute;
	right: 0;
	top: 110px;
}
.zakaz-banner-slide .zakaz-banner-slide-img {
	position: absolute;
	z-index: -1;
	left: -55px;
	top: 10px;
}
.zakaz-banner-motivate {
	position: absolute;
	width: 405px;
	top: 370px;
	right: 0;
	font-size: 18px;
}
.zakaz-banner-explain {
	position: absolute;
	width: 405px;
	top: 410px;
	right: 0;
}
.zakaz-banner-arrow {
	position: absolute;
	top: 400px;
	right: 430px;
}
/*--/баннер с выгодой--*/


/*----------------------------форма с картой---------------------------------*/
.order-map-block {
	border: 1px solid #e8e8e8;/*св. серый цвет границы*/
	padding: 17px;
	height: 518px;
	text-align: right;
	position: relative;
}
#map_form_loader {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -27px 0 0 -27px;
}
#map_form_notification {
	font-family: "Museo Cyr", Tahoma, sans-serif;
	font-weight: 300;
	display: none;
	font-size: 26px;
	text-align: center;
	color: black;
	margin-top: 200px;
	padding: 0 90px;
}


.webform-component-select,
.webform-component-textfield {
	width: 295px;
	display: inline-block;
}
.webform-component--map {
	float: left;
	width: 613px;
	height: 481px;
	position: relative;
}
#order_map {
	height: 100%;
}
#white_map_arrow {
	width: 1px;
	height: 1px;
	display: block;
	position: absolute;
	z-index: 10;
	right:0;
	top: 20px;
	border-top: 40px solid transparent;
	border-right: 40px solid white;
	border-bottom: 40px solid transparent;
	border-left: 40px solid transparent;
}

/*---Кнопка переключения с Москвы на область-------*/
.map-switch-link-box {
	position: absolute;
	display: none;
	z-index: 20;
	padding: 5px 10px 10px;
	background: white;	
}
.map-switch-link {
	font-size: 14px;
	border-bottom: 1px dotted;	
}
.map-switch-link:hover {
	color: gray;
	border-color: gray;
}
#mos_obl_link_box {}
#mos_obl_link {}
/*---/Кнопка переключения с Москвы на область-------*/


.webform-client-form-9 select,	
.webform-client-form-9 input[type=text] {
	border: 1px solid #e8e8e8;/*св. серый цвет границы*/
	width: 100%;
	height: 50px;
	padding: 0 20px;
	font-size: 15px;
	line-height: 48px;
	font-weight: 500;
	margin-bottom: 18px;
	color: #5c5959;
}

.webform-client-form-9 .webform-component--selecthint,
.webform-client-form-9 .webform-component--addr,
.webform-client-form-9 .webform-component--email,
.webform-client-form-9 .webform-component--phone,
.webform-client-form-9 .webform-component--imya {
	position: absolute;
	right: 17px;
}
.webform-client-form-9 .webform-component--imya {
	bottom: 226px;
}
.webform-client-form-9 .webform-component--phone {
	bottom: 159px;
}
.webform-client-form-9 .webform-component--addr {
	top: 152px;
	text-align: left;
}
.webform-client-form-9 .webform-component--addr #edit-submitted-street {
	width: 156px;
}
.webform-client-form-9 .webform-component--addr #edit-submitted-house-num,
.webform-client-form-9 .webform-component--addr #edit-submitted-flat-num {
	width: 64px;
	padding: 0px 10px;
}
.webform-client-form-9 .webform-component--email {
	bottom: 90px;
}
.webform-client-form-9 .webform-component--selecthint {
	width: 295px;
	bottom: 366px;
	height: 70px;
}
#select_hint_text {
	width: 150px;
	text-align: left;
	font-size: 14px;
	line-height: 18px;
	position: absolute;
	right: 35px;
}
#select_hint_img {
	position: absolute;
	left: 0;
}
.webform-client-form-9 .webform-component--district {
	display: none;
	right: 17px;
	position: absolute;
	top: 84px;
}


.webform-client-form-9 select {
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
	background: white url('../img/select-ar.png') no-repeat 92% center;
}
.form-element-ok {
	background: white url('../img/ul-mrkr-green.png') no-repeat 92% center !important;
	border-color: #84CE6D !important;
}
.form-element-error {
	background: white url('../img/red-cross.png') no-repeat 92% center !important;
	border-color: #F3BEB5 !important;
}

.webform-client-form-9 input[type=submit] {
	width: 295px;
	position: absolute;
	bottom: 30px;
	right: 17px;
}
.webform-client-form-9 input[type=submit]:disabled {
	cursor: default;
	opacity: 0.8;
}
.webform-client-form-9 input[type=submit]:disabled:hover {
	background: white;
	color: #29ad00;
}

.webform-component--addtext {
	width: 295px;
	height: 75px;
	position: absolute;
	bottom: 43px;
	right: 17px;
}

.map-form-add-text {
	text-align: center;
	font-size: 19px;
	line-height: 26px;
}

.map-form-add-text p{
	color: #6E6E6E;
}

/*-----Блок с менеджерами-----*/
#dynamic_managers_block {
	margin: 80px 0;
	height: 180px;
}
.zakaz-managers-block-text {
	width: 334px;
}
.zakaz-managers-block-view {
	float: right;
	width: 585px;
	height: 202px;
	overflow: hidden;
}
.zakaz-managers-block-view .view-content{
}
.manager-icon {
	display: inline-block;
	vertical-align: top;
	width: 120px;
	margin-left: 32px;
	text-align: center;
}
.manager-icon:first-child {
	margin-left: 0;
	float: left;
}
#manager_icon_last {
	margin-left: 0;
	float: right;
}
.manager-icon img {
	border-radius: 60px;
	width:120px;
}
.manager-icon a {
	color:#215a8e;
	text-align: left;
	font-size: 13px;
	line-height: 18px;
	width: 80%;
	margin: 15px auto;
	display: block;
	padding-left:40px;
	text-decoration: underline;
	background: url("../img/managers/facebook.png") 0px 3px no-repeat;
}

.manager-icon a:hover {
	color:#72a1db;
}

/*-------------------------------------------------------------------------
		/////////заказ//////////
--------------------------------------------------------------------------*/



/*-------------------------------------------------------------------------
						---------ПРОИЗВОДСТВО---------
--------------------------------------------------------------------------*/

.prod-block {
	position: relative;
	height: 350px;
	margin: 60px auto;
}
.prod-block-ram-img,
.prod-block-bg {
	position: absolute;
	z-index: -1;
	bottom: 0;
}
.prod-block-bg {
	height: 100%;
	width: 100%;
}
.prod-block-ram-box {
	position: absolute;
	bottom: 25px;
	padding: 25px 30px 30px;
	color: white;
}
.prod-block-ram-box .medium-heavy-heading {
	line-height: 60px;
}
#prod_block_1 .prod-block-ram-box {
	right: 25px;
	width: 593px;
	height:225px;
	text-align: right;
}

#prod_block_1 .prod-block-bg > img{
	position: absolute;
}
#prod_block_1 .prod-block-bg,
#prod_block_1 .prod-block-bg > img,
#prod_block_1 .prod-block-ram-img {
	right: 0;
}
#prod_block_2 .prod-block-ram-box {
	left: 25px;
	width: 565px;
	height:207px;
}
#prod_block_2 .prod-block-bg {
	opacity: 0;
}
#prod_block_2 .prod-block-bg.slide-active {
	opacity: 1;
}
#prod_block_2 .prod-block-bg > img {
	bottom: 0;
	position: absolute;
}
#prod_block_2 .prod-block-bg,
#prod_block_2 .prod-block-bg > img,
#prod_block_2 .prod-block-ram-img {
	left: 0;
}
#prod_gallery_block .prod-block-ram-box {
	position: relative;
	top:0;
	vertical-align: top;
	width: 472px;
	height: 149px;
	color: black;
	padding: 45px;
	float: left;
	margin: 0 15px 0 0;
}

/*--------ЭФФЕКТ С РАЗМЫТИЕМ---------*/
.prod-foto-blured-box {
	width: 100%;
	height: 100%;
}
.prod-foto-blured {
	-webkit-mask: -webkit-linear-gradient( to left, black 30%, transparent 70%);
	-webkit-mask: linear-gradient( to left, black 30%, transparent 70%);
	/*mask: url('../prod.php/index.html#mask-linear'); */
	/* filter: url('prosto.css#filtre2'); относительный путь не работает */
	-webkit-filter: blur(3px) brightness(0.9);
    -moz-filter: blur(3px) brightness(0.9);
    -ms-filter: blur(3px) brightness(0.9);
    -o-filter: blur(3px) brightness(0.9);
    filter: blur(3px) brightness(0.9);
	
}
/*---------/эффект с размытием--------*/


#prod_photo_slides {
	width:100%;
	height: 100%;
}
.prod-foto-slide {
	position: absolute;
	right: 0;
	opacity: 0;
	z-index:-1;
	width:960px;
	height: 100%;
}
.prod-foto-slide img {
	position: absolute;
	right: -100px;
	margin-top: -300px;
}
#prod_slide_2 img {
	margin-top: -400px;
}
#prod_slide_3 img {
	margin-top: -250px;
}
.prod-foto-slide.slide-active {
	opacity: 1;
	z-index: 1;
}



/*ГАЛЕРЕЯ*/
#prod_gallery_block  {
	height: 475px;
}
#prod_gallery_block .prod-block-ram-img {
	left: 0;
}
.prod-gall-prev {
	position: absolute;
}

#prev_01,
#prev_02 {
	top: 0;
}
#prev_03,
#prev_05,
#prev_06,
#prev_04{
	bottom: 0;
}
#prev_02,
#prev_03{
	right: 0;
}
#prev_07,
#prev_06{
	left: 0;
}
#prev_04{
	right: 163px;
}
#prev_05{
	right: 325px;
}
#prev_08,
#prev_07{
	top: 164px;
}
#prev_08{
	left: 160px;
}
/*/галерея*/

.column-text-2 {
    -moz-column-count: 2; /* Для Firefox */
    -webkit-column-count: 2; /* Для Safari и Chrome */
    column-count: 2;
    -moz-column-gap: 70px; /* Для Firefox */
    -webkit-column-gap: 70px; /* Для Safari и Chrome */
    column-gap: 70px;
}
.column-text-2 p {
	margin-top: 0;
}
/*Карта*/
#prod_map_block {
	margin: 0 0 60px 0;
}
#prod_map {
	width: 960px;
	height: 350px;
}
.white-abs-arrow-panel {
	position: absolute;
	height: 250px;
	width: 460px;
	background: rgba(255,255,255, 0.7);
	top: 50px;
	left: 50px;
	padding: 45px 50px 50px;
}
.white-abs-arrow-panel:after {
	content: " ";
	position:absolute;
	left: 460px;
	top: 0px;
	width: 0px;
	height: 0px;
	display: inline-block;
	border-left: 30px solid rgba(255,255,255, 0.7);
	border-right: 30px solid rgba(255,255,255, 0);
	border-top: 125px solid rgba(255,255,255, 0);
	border-bottom: 125px solid rgba(255,255,255, 0);
}
.white-abs-arrow-panel > p {
	color: black;
	font-size: 15px;
}

/*Анимация*/
.width-clip {
	overflow: hidden;
}
.prod-foto-slide,
.column-text-2,
.prod-block-ram-box,
.width-clip,
.prod-block-bg,
.white-abs-arrow-panel,
.prod-gall-prev {
	-webkit-transition: all 0.5s ease-out 0s;
	-moz-transition: all 0.5s ease-out 0s;
	-o-transition: all 0.5s ease-out 0s;
	transition: all 0.5s ease-out 0s;
}
/*-------------------------------------------------------------------------
		/////////производство//////////
--------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------
						---------КАЧЕСТВО ОКОН---------
--------------------------------------------------------------------------*/
#win_main_banner {
	height: 620px;
	padding-top: 100px;
}
#win_main_banner h1 {
}
#win_slide_img {
	top: -90px;
	right:-160px;
	opacity: 0.9;
}
#win_sub_h1 {
	width: 300px;
	color: rgb(81, 81, 81);
}
#win_description {
	margin-bottom: 50px;
}
#win_advantages {
	margin-top: 80px;
}
#win_advantages h2{
	text-align: center;
	margin-bottom: 40px;
}
.advantage-block {
	text-align: center;
}
.advantage-block p{
	width: 83%;
	margin: auto auto 0;
}
#win_sertif{
	border-top: 1px dotted black;
	padding: 40px 0;
	margin: 20px 0;
}
#win_sertif h2 {
	text-align: center;
	margin-bottom: 40px;
}
.win-sert-img{
	width: 140px;
	height: auto;
	border: 1px solid #29AD00;/*злёный*/
	padding: 8px;
}
.win-sert-block p{
	width: 80%;
	font-size: 14px;
}
/*-------------------------------------------------------------------------
		/////////качество окон//////////
--------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------------------------

				/контент
				
--------------------------------------------------------------------------------------------------*/




/*------------------------------------------------------------------------------------------------

												ПОДВАЛ
												
--------------------------------------------------------------------------------------------------*/
#footer {
	height: 225px;
}
#footer .full-width{
	background-color: #ededed; /*СВЕТЛО СЕРЫЙ ФОН ФУТЕРА*/
	height: 235px;
	overflow-bottom: hidden;
}
#footer .full-width .width-control{
	padding-top: 35px;
	position: relative;
}
/*-----ЛАМПА ИЛЬИЧА--------*/
#lampa_ilicha {
	position: absolute;
	top: -28px;
	z-index: 0;
	right: 125px;
	overflow: hidden;
	height: 260px;
	width: 320px;
}
#lampa_text {
	width: 85px;
	height: 30px;
	text-align: right;
	position: absolute;
	left:0;
	top: 100px;
	z-index: 2;
}
#lampa_text p {
	font-size: 13px;
	line-height: 20px;
	padding-right: 15px;
	margin-top: 0;
}
.podval-lampa {
	position: absolute;
	top: -45px;
	right: 0;
	-webkit-transition: all 0.1s linear 0s;
	-moz-transition: all 0.1s linear 0s;
	-o-transition: all 0.1s linear 0s;
	transition: all 0.1s linear 0s;
}
#podval_lampa_on {
	right: -1px;
	z-index: 1;
	opacity: 0;
}
/* #lampa_ilicha:hover #podval_lampa_off {
	opacity: 0;
} */
#lampa_ilicha:hover #podval_lampa_on {
	opacity: 1;
}
/*-----/лампа ильича--------*/
.footer-block {
	display: inline-block;
	vertical-align: top;
}
#footer_copyright {
	font-size: 14px;
	line-height: 20px;
	margin-top: 30px;
}
#footer_autors {
	float: right;
	position: relative;
	z-index: 1;
	text-align: right;
	margin-top: 24px;
}
#footer_autors p {
	font-size: 14px;
	line-height: 20px;
}



#footer .menu {
	list-style: none;
	padding-left: 0;
	width: 190px;
	position: relative;
	z-index: 1;
	margin-left: 30px;
	margin-top: 0;
}
#footer .menu li {
	/* display: inline-block; */
	height: 30px;
}
#footer .menu  li a {
	display: inline-block;
	color: black;
}
#footer .menu  li a:hover {
	color: #29ad00; /* ЗЁЛЁНЫЙ */
}

/*------------------------------------------------------------------------------------------------

				/подвал
				
--------------------------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------------------------

												МЕДИА-ЗАПРОСЫ
												
--------------------------------------------------------------------------------------------------*/
@media screen and ( max-width: 1200px ) {
	#calc_icon_link{
		bottom: 120px;
	}
	#widgt_link.widget-link-shown {
		bottom: 50px;
	}
	#calc_icon_link, 
	#widgt_link.widget-link-shown {
		right: 50px;
	}
	#calc_icon_link img, 
	#widgt_link img {
		width: 50px;
		height: 50px;
	}
	
	#widgt_link_img_box {
		width: 50px;
		height: 50px;
		border-radius: 25px;
	}
	#widgt_link_img_box img {
		left:25px;
		height: 50px;
		width: 0px;
	}
	#widgt_link_img_box img.widg-link-active-img {
		width: 50px;
	}

	
	
	
}
@media screen and ( max-width: 1040px ) {
	#main_menu {
		padding-left: 20px;
	}
	.width-control,
	.width-control-outer {
		width: 100%;
		margin: 0 auto;
	}
	.width-control-outer {
		overflow: hidden;
		padding: 0 20px;
	}
	.order-step {
		width: 19%;
	}
	
	
}

/*------------------------------------------------------------------------------------------------

												/медиа-запросы
												
--------------------------------------------------------------------------------------------------*/

/*   КАЛКЬУЛЯТОРНАЯ ЛИНИИЯ   */

.calc_line {
	color:#e9f5e6;
	font-size: 20px;
	font-weight: 300;
	margin-bottom:15px;
	height:70px;
}

.calc_line > div > div > div > div  {
	float:left;
	margin-right: 10px;
}

.calc_line .calc_line_buttons {
	float:right;
	margin-right: 0;
}

.calc_line .full-width {
	padding-top:3px;
	background: #2d9d0b;
	border-top:2px solid #2a8110;
}

.calc_line .calc_line_buttons > a {
	position: inherit;
}

.calc_line_header, .calc_line_windows, .calc_line_price {
	padding:7px 0px 12px 0px;
}

.calc_line_header > img {
	margin-top:0px;
	margin-bottom:-6px;
}

.calc_line_price_value {
	font-size: 30px;
	color:white;
}

.calc_line_windows > a {
	text-decoration: none;
	border-bottom: 1px dashed #e3f2d5;
	color:#e9f5e6;
}

.calc_line_windows > span {
	color:white;
}

.calc_line_buttons {
	padding-top:5px;
}
.calc_line_buttons > a {
	background: #47c122;
	color:#ffffff;
	border:0px;
	font-size: 18px;
}

/*  /КАЛКЬУЛЯТОРНАЯ ЛИНИИЯ   */




