@font-face {
    font-family: 'Roboto';
    src: url('../../../../css/fonts/Roboto-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

body {
	font-family: "Museo Cyr", Tahoma, sans-serif;
	padding: 0;
	margin: 0;
	height: 100%;
	background: no-repeat url('../img/bg-big-girl.jpg') right bottom;
}

.round-border {
	border: 1px solid gray;
	border-radius: 19px;
	text-decoration: none;
	background: none;
	display: inline-block;
	height: 38px;
	line-height: 37px;
	font-size: 15px;
	padding: 0 22px;
	color: black;
	text-align: center;
	cursor: pointer;
}
.input-with-border {
	border: 1px solid #e8e8e8;/*св. серый цвет границы*/
	width: 100%;
	padding: 0 20px;
	font-size: 15px;
	line-height: 48px;
	font-weight: 500;
	color: #5c5959;
}
.messages {
	margin-top: 10px;
}
.message {
	text-align: left;
	padding: 5px 10px; 
}
.message.message-error {
	background: rgb(255, 207, 207);
	color: rgb(191, 0, 0);
}
.message.message-ok {
	background: #DCF5E2 none repeat scroll 0% 0%;
	color: #087D01;
}
.message.message-notice {
	background: #FFFCC6 none repeat scroll 0% 0%;
	color: #7D6A01;
}



#main_container {
	width: 300px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -120px;
	text-align: center;
}
#prosto_login_form input { 
	margin-top: 15px;
}
#prosto_submit_input:hover {
	background-color: #29ad00;
	border-color: #29ad00;
	color: white;
}
#prosto_submit_input {
	padding-left: 40px;
	padding-right: 40px;
	background-color: white;
}